<h1>New movie</h1>

<% @movie.errors.full_messages.each do |message| %>
  <p style="color: red;"><%= message %></p>
<% end %>

<hr>

<%= form_with(model: @movie, data: {turbo:false }) do |form| %>

<%#= form_with(url: movie_path(@movie), data: { turbo: false }) do %>


  <!--  <label_tag :title >
      Title
    </label>-->

    
    <div>
    <%= form.label :title  %>

    <%= form.text_field :title %>

  </div>

   <!-- <label for="description ">
      Description
    </label>-->


<div>
    <%= form.label :description %>

    <%= form.text_area :description, rows:3 %>

    </div>

    
    
    
    <!--<textarea id="description " name="query_description" rows="3"><%#= @movie.description %></textarea>-->
  


  <%= form.button %>

<% end %>



  
